.image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding-left: 10px;
}
.background_c1 {
    color: grey;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#header {
    background-color: aqua;
    width: 20%;
    height: 100%;
    float: left;
    overflow: auto;
    box-sizing: border-box;


}
#main {
    height: 100%;
    width: 80%;
    padding
    background-color: bisque;
   
}
